.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
*.pyc
.vscode/
.idea/
.DS_Store
.env
.csv
data/raw/
data/*.parquet
data/*.pkl
.notebooks./content
notebooks/content/
notebooks/**/content/
